{% extends "base.html" %}

{% block title %}Overview{% endblock %}

{% block content %}
<h2 class="title is-2">Overview</h2>
<div class="section">
  <h3 class="title is-3">Workers</h3>
  <table class="table is-striped is-bordered is-hoverable">
    <tbody>
      <thead>
        <th>Id</th>
        <th>Working On</th>
        <th>Last Heartbeat</th>
      </thead>
      {% for worker in workers %}
      <tr>
        <td>{{worker.name}}</td>
        <td>
          {% match worker.queues %}
          {% when Some with (val) %}
          {{val}}
          {% when None %}
          default
          {%endmatch %}
        </td>
        <td>
          {% match worker.last_seen_at %}
          {% when Some with (val) %}
          {{val}}
          {% when None %}
          default
          {%endmatch %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="section">
  <h3 class="title is-3">Queues</h3>
  <table class="table is-striped is-bordered is-hoverable">
    <tbody>
      <thead>
        <th>Name</th>
        <th>Size</th>
      </thead>
      {% for queue in queues %}
      <tr>
        <td>{{queue.name}}</td>
        <td>{{queue.size}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}